body{

	background-color:#d80019;
	text-align:center;
	

	
	
	
	
	
}
.rsm{
	margin-top:40px;

	
	
	
	
}
.klnncıadi {
	
	margin-top:50px;
	margin-left:10px;
	
	
	
	
	
	
	
}



.klnncıadi input   {

	padding-left:15px;
	height:40px;
	width:200px;
  border: 2px solid black;
  border-radius: 20px;
 
	
	
	
	
	
}

.gndr input:hover {
	

background-color:#bab0b1;







}







.gndr{
	margin-left:15px;
	
	
	
	
}


.gndr input{
	

	
	height:40px;
	width:100px;
	color:white;
	  border: 2px solid black;
  border-radius: 20px;
  background-color:#000000;
	
}
